body {
    margin:0;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 44px;
    color: white;
    overflow: hidden;
}

.title{
    margin-top: 30px;
    font-size: 38px;
    letter-spacing: 1px;
    text-shadow: 0 0 8px #ffffff85; 
}

.nightsky {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url(images/nightsky.png);
  opacity: 0.45;
  z-index: -4;
}

#moon {
    width: 250px;
    position: absolute;
    top: 30px;
    right: 40px;
    opacity: 0.8;
    transition: 0.3s;
}

#moon:hover{
    transform: scale(1.03);
}

.star {
    width: 20px;
    height: 20px;
    background: whitesmoke;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 6px whitesmoke;
    cursor: pointer;
    transition: 0.2s;
    z-index: 4;
}


#s1 {top: 30%; left: 60%;}
#s2 {top: 22%; left: 35%;}
#s3 {top: 77%; left: 24%;}
#s4 {top: 60%; left: 72%;}
#s5 {bottom: 30%; right: 44;}
#s6 {top: 30%; right: 44;}

.star:hover {
    transform: scale(1.5);
    box-shadow: 0 0 12px whitesmoke;
}


.memory {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 5;
}

.p{
    font-size:17px;
    margin-top: 10px;
}


.bubble {
    width: 500px;
    height: 500px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(13px);
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
    box-shadow: 0 0 20px rgb(193, 205, 252);
}

.bubble img,
.bubble video {
    width: 100%;
    height: 90%;
    border-radius: 50px;
}

.galaxy {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url(images/galax012.gif);
  opacity: 0.45;
  z-index: -4;
}